MONGODB_URI=mongodb://localhost:27017/clinica_dentista
JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=1d

# Superadmin por defecto (se crea solo si no existe y no se puede modificar/eliminar)
SUPERADMIN_EMAIL=superadmin@clinica.com
SUPERADMIN_PASSWORD=cambia_esta_clave_del_superadmin
SUPERADMIN_NAME=Super Admin
